<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bread</title>
</head>
<body>
<h1>Greet me</h1>
<form action="/" method="get">
    <input type="submit" value="Home">

</form>
<form action="/hello" method="post">
    <input type="text" name="username">
    <input type="radio" value="1" name="English"> English
    <input type="radio" value="2"> Japanese
    <input type="radio" value="3"> Spanish
    <input type="submit">
</form>
<div>
    <ul>
        {{greeting}}

    </ul>
</div>

</body>
</html>